{% extends 'accounts/base.html' %}
{% block content %}
<div class="container-fluid review-bg">
    <div class="row">
        <div class="col-sm-12">
            <div class="review-form-container">
             <p class="login-form-header pt-3">Add a review</p>
                {% if error %}
                {{ error }}
                <br>
                <br>
                {% endif %}
                <form class="review-form" method='POST' action="{% url 'addreview' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="hide" type="text" name="name" /> <br>
                <label class="order-text">Please type your review here giving as much details as possible:  </label><br>
                <textarea rows='10' cols="45" name="body"></textarea>
                <br>
                <hr>
                <label class="order-text">Please upload an image of your order:  </label><br>
                <input type="file" name="image" />
                <br>
                <hr>
                <label class="order-text">Please give your score out of 5 for how happy you was with our service:  </label><br>
                <input id="review-score-input" type="number" name="score"  min="1" max="5" />/5 
                <br>
                <hr>
                <input class="btn btn-primary" type="submit" value="Add Review">
            </form>  
            <br>     
            </div>
        </div>
    </div>
</div>
{% endblock %}