{% extends 'accounts/base.html' %}
{% block content %}
<div class="container container-coloured">
<br>
<hr>
    <div class="row">
        <div class="col-sm-12">
            <div class="button-banner pt-3">
                <a href="{% url 'addnews' %}"> <button type="button" class="btn btn-info">Add News</button></a>
            </div>
        </div>
    </div>
    <hr>
<br>
<div class="row">
        <div class="col-sm-12">
            <div class="button-banner pt-3">
               <h2>Orders</h2>
            </div>
        </div>
    </div>
{% for orders in order %}
<br>
    <div class="header-banner pl-3"><h2>Order For: {{ orders.user }}</h2></div>
    <div class="container">
  
        <div class="row  white-bg service-img">
            
            <div class="col-sm-12 col-md-6">
              <br>
            {% for item in orders.orderline.all %}
                <div class="display panel panel-default white-bg border border-dark pt-3">
                    <div class="panel-body">
                        <img class="mx-auto d-block rounded img-fluid" src="{{ item.product.img.resized.url }}">
                        <div class="pt-3">
                            <div class="header-banner">
                            <h3>{{ item.product.name }}</h3>
                            </div>
                            <p class="main-section-text pt-3">{{ item.product.description }}</p>
                            <p class="main-section-text pt-3">£{{ item.product.price }}</p>
                            <p class="main-section-text pt-3">Quantity:{{ item.quantity }}</p>
    
                        </div>
                    </div>
                </div>
            {% endfor %}
              <br>
            </div>
             <div class="col-sm-12 col-md-6">
               <br>
                    <p class="main-section-text">Order Date: {{ orders.date }}</p>
                    <p class="main-section-text">First line of address: {{ orders.street_address1}}</p>
                    <p class="main-section-text">Second line of address: {{ orders.street_address2}}</p>
                    <p class="main-section-text">Town/City: {{ orders.town_or_city }}</p>
                    <p class="main-section-text">Postcode: {{ orders.postcode }}</p>
                    <p class="main-section-text">Order Phone Num: {{ orders.phone_number }}</p>
                    <p class="main-section-text">Order Status: {{ orders.status }}</p>
                    <form id="update{{ orders.id }}" method="POST" action="{% url 'statusupdate' orders.id %}">
                            {% csrf_token %}
                            <br>
                            <select name="status" />
                            <option value="ordered">Ordered</option>
                            <option value="paid">Paid</option>
                            <option value="painted">Painting Finished</option>
                            <option value="basing">Basing Complete</option>
                            <option value="finishing">Final Touches</option>
                            <option value="complete">Waiting To Be Shipped</option>
                            <option value="shipped">Shipped</option>
                            </select>
                    </form>
                    <a href="javascript:{document.getElementById('update{{ orders.id }}').submit()}"><button class="btn btn-primary btn-lg btn-block">Update</button></a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}