{% extends 'accounts/base.html' %}

{% block content %}
<div class="container-fluid order-bg"
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="order-container">
                    <h2>Create An Order</h2>
                    <div class="order-form">
                            <form method="POST" action="{% url 'create_order' %}">
                            {% csrf_token %}
                            <br>
                            <label class="order-text">Choose your level of paint:  </label>
                            <select name="paintlevel" />
                            <option value="basic">Basic</option>
                            <option value="tabletop">Tabletop</option>
                            <option value="display">Display</option>
                            </select><br>
                            <hr>
                            <label class="order-text">Number of models:  </label>
                            <input type="number" name="paintnum" /> <br>
                            <hr>
                            <label class="order-text">Is assembely required? Y/N?:  </label>
                            <select name="build" />
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                            </select><br>
                            <hr>
                            <label class="order-text">Is Basing required? Y/N?:  </label>
                            <select name="base" />
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                            </select><br>
                            <hr>
                            <label class="order-text">Choose the type of base required:  </label>
                            <select name="basetype" />
                            <option value="none">none</option>
                            <option value="sand">Sand</option>
                            <option value="mud">Mud</option>
                            <option value="concrete">Concrete</option>
                            <option value="grass">Grass</option>
                            <option value="rubble">Rubble</option>
                            <option value="snow">Snow</option>
                            </select><br>
                            <hr>
                            <label class="order-text">Have you got a particular colour scheme you would like?:  </label><br>
                            <textarea rows='10' cols="55" name="scheme"> 
                            </textarea><br>
                            <hr>
                            <label class="order-text">Any additional comments?:  </label><br>
                            <textarea rows='10' cols="55" name="comments"> 
                            </textarea><br>
                            <hr>
                            <label class="order-text">House number or name:  </label>
                            <input type="number" name="adnum" /> <br>
                            <hr>
                            <label class="order-text">First line of address:  </label>
                            <input type="text" name="adfirstline" /> <br>
                            <hr>
                            <label class="order-text">Town/City:  </label>
                            <input type="text" name="adtown" /> <br>
                            <hr>
                            <label class="order-text">Postcode:  </label>
                            <input type="text" name="adpostcode" /> <br>
                            <hr>
                            <input class="hide" type="text" name="user" /> <br>
                            <input class="btn btn-primary" type="submit" value="Create order">
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}