{% extends 'accounts/base.html' %}

{% block content %}
<div class="container container-coloured">
<br>
    <div class="row">
        {% for product in products %}
            <div class="col-sm-12 col-md-6 col-md-4">
                <div class="white-bg pt-3 mb-3 product-cont">
                    <img class="mx-auto d-block rounded" src="{{ product.img.resized.url }}">
                    <br>
                    <div class="header-banner">
                    <h3 class="text-left pl-3">{{ product.name }}</h3>
                    </div>
                    <br>
                    <form id="detail{{ product.id }}" method="POST" action="{% url 'detail' product.id %}">
                    {% csrf_token %}
                    <a href="javascript:{document.getElementById('detail{{ product.id }}').submit()}"><button class="btn btn-success ml-3">More Details</button></a>
                    </form>
                    <br>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}